DATABASE_URL="postgresql://kadokadeo.dev:dev@localhost:5432/kadokadeo?serverVersion=14&charset=utf8"
ADMIN_DATABASE_URL="postgresql://kadokadeo.dev:dev@localhost:5432/kadokadeo?serverVersion=14&charset=utf8"
EXTERNAL_URL="http://kadokadeo.localhost/"
ETERNALTWIN_URL="http://localhost:50320/"
OAUTH_ID="kadokadeo_dev"
OAUTH_SECRET="dev_secret"
