[submodule "resources/games/godot/opalus"]
	path = resources/games/godot/opalus
	url = https://gitlab.com/eternaltwin/kadokadeo/opalus.git
[submodule "resources/games/godot/kaskade"]
	path = resources/games/godot/kaskade
	url = https://gitlab.com/eternaltwin/kadokadeo/kaskade.git
[submodule "resources/games/godot/interwheel"]
	path = resources/games/godot/interwheel
	url = https://gitlab.com/eternaltwin/kadokadeo/interwheel.git
[submodule "resources/games/godot/kslash"]
	path = resources/games/godot/kslash
	url = https://gitlab.com/eternaltwin/kadokadeo/kslash.git
