###############################################################################
# Dependencies                                                                #
###############################################################################
# Composer dependencies
/vendor/
# Node dependencies
node_modules/
# Yarn without Zero-Installs
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

###############################################################################
# Local configuration                                                         #
###############################################################################
etwin.toml
.env

###############################################################################
# Editor files                                                                #
###############################################################################
.idea/
*.iml

eternaltwin.exe
eternaltwin
