###############################################################################
# Dependencies                                                                #
###############################################################################
# Composer dependencies
/vendor/
# Node dependencies
node_modules/
# Yarn without Zero-Installs
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

###############################################################################
# Local configuration                                                         #
###############################################################################
etwin.toml
.env

###############################################################################
# Editor files                                                                #
###############################################################################
.idea/
*.iml

eternaltwin.exe
./eternaltwin

*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
/.vite
docker-compose.override.yml
docker/database-data
.eslintcache
/resources/js/kadokadeo.js

resources/js/games/
