{
	admin off
	persist_config off
	auto_https off

  {$CADDY_GLOBAL_OPTIONS}

  log {
    format json
    output stderr
    level DEBUG
  }

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

:{$PORT:80} {
  root * /app/public
  encode zstd br gzip

  @static {
    file
    not path *.php
  }
  handle @static {
    file_server {
      hide .git
      hide .env*
      hide *.php
    }
  }

  handle {
    php_server
  }
}
