version: '3'
services:
  kadokadeo_app:
    build:
        args:
            ARCH: x86_64
            # ARCH: arm64 # For ARM cpus
            UID: 1000
            GID: 1000

  kadokadeo_nginx:
      ports:
        - 80:80

  kadokadeo_front:
    ports:
      - 5173:5173

  kadokadeo_database:
    ports:
      - 5432:5432

  kadokadeo_eternaltwin:
    ports:
      - 50320:50320
    build:
      args:
        - UID=1000
        - GID=1000
