
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../** /*.blade.php';
@source '../** /*.js';

@layer base {
    html, :host {
        line-height: unset;
    }
}


/* CUSTOMIZED FONT */

@font-face {
    font-family: "Junegull-Regular";
    src: url("$fonts/Junegull-Regular.eot");
    src: url("$fonts/Junegull-Regular.eot?#iefix") format("embedded-opentype"),
        url("$fonts/Junegull-Regular.woff") format("otf"),
        url("$fonts/Junegull-Regular.woff") format("woff"),
        url("$fonts/Junegull-Regular.ttf") format("truetype"),
        url("$fonts/Junegull-Regular.svg#Junegull-Regular") format("svg");
}

@font-face {
    font-family: "Jost-Medium";
    src: url("$fonts/Jost-Medium.ttf") format("truetype");
}

[data-lang="fr"] {
    background: url('$images/langFrench.gif') no-repeat;
}

/* GLOBAL */

body {
    width: 1010px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("$images/bgHeader.png") top repeat-x, url("$images/bgBodyPattern.jpg") repeat;
    background-color: #f1f9fb;
    font-size: 1em;
    font-family: Trebuchet MS, Arial, sans-serif;
    color: #0687b1;
}

p {
    margin: 16px 10px;
    padding: 0;
}

a {
    color: #ffa400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

#container h1 { /* Mozilla Firefox and IE doesn't support the background-clip:text; and -webkit-text-stroke properties */
    margin: 25px 10px 20px 10px;
    padding: 0;
    font-family: "Junegull-Regular", Trebuchet MS, Arial, sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #44cce7;
    font-weight: bold;
    text-shadow: -1px -1px 0 #1f6776, 1px -1px 0 #1f6776, -1px 1px 0 #1f6776, 1px 1px 0 #1f6776;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) { /* For compatible browsers */
    #container h1 {
        -webkit-text-stroke: 1px #1f6776;
        background: linear-gradient(to bottom, #fff 15%, #caf4fc 55%, #82e1f3 56%, #d3f4fa 85%);
        background-color: #defaff;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: none;
    }
}

#container h2 {
    width: 90%;
    height: 35px;
    margin: 40px 0 10px 10px;
    padding: 4px 5px 0 40px;
    font-size: 1.5em;
    background: url("$images/bgTitleBlue.jpg") no-repeat;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.centerMargin {
    margin: auto;
}

.nomargin {
    margin: 0;
    padding: 0;
}


/* HEADER, TOP NAV, TOP BANNER */

header#topPage {
    width: 1010px;
    height: 100px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

header#topPage nav#languageNav {
    width: 32px;
    margin: 5px 0 0 0;
    padding: 0;
}

header#topPage nav#languageNav ul {
    width: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header#topPage nav#languageNav ul li a {
    width: 29px;
    height: 22px;
    margin: 0 0 1px 0;
    display: block;
    text-decoration: none;
}

header#topPage h1 {
    width: 424px;
    height: 78px;
    margin: 0;
    padding: 0;
    background: url("$images/logoBasic.png") no-repeat;
}

header#topPage h1 span {
    display: none;
}

header#topPage nav#topNav {
    margin: 5px 0 0 0;
}

header#topPage nav#topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around
}

header#topPage nav#topNav ul li, header#topPage nav#topNav ul li a {
    width: 117px;
    height: 95px;
    display: block;
    text-decoration: none;
}

header#topPage nav#topNav ul li a#topNavGames {
    background: url("$images/menuGames.png") no-repeat;
}

header#topPage nav#topNav ul li a#topNavSite {
    background: url("$images/menuSite.png") no-repeat;
}

header#topPage nav#topNav ul li a#topNavShop {
    background: url("$images/menuShop.png") no-repeat;
}

header#topPage nav#topNav ul li:hover {
    background: url("$images/menuHover.png") no-repeat;
}

header#topPage nav#topNav ul li a span {
    display: none;
}

header#topPage nav#kalendrier {
    width: 201px;
    height: 141px;
    margin: 2px 0 0 0;
    padding: 0;
    background: url("$images/bgKalendrier.png") no-repeat;
    font-size: 0.75em;
    position: relative;
}

header#topPage nav#kalendrier ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header#topPage nav#kalendrier ul li#kalUser {
    position: absolute;
    top: 8px;
    left: 15px;
}

header#topPage aside#topBarInfo {
    width: 389px;
    height: 40px;
    background: url("$images/bgTopBarInfo.png") no-repeat;
    position: absolute;
    top: 73px;
    left: 49px;
}

header#topPage aside#topBarInfo ul {
    width: 349px;
    height: 27px;
    list-style: none;
    margin: 4px 18px 9px 22px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header#topPage aside#topBarInfo ul li#topBarKadoPoints {
    padding: 4px 0 0 28px;
    background: url("$images/topBarPointsKado.png") left no-repeat;
}

header#topPage aside#topBarInfo ul li#topBarGreenStar {
    padding: 4px 0 0 30px;
    background: url("$images/topBarGreenStar.png") left no-repeat;
}

header#topPage aside#topBarInfo ul li#topBarOrangeStar {
    padding: 4px 0 0 30px;
    background: url("$images/topBarOrangeStar.png") left no-repeat;
}

header#topPage aside#topBarInfo ul li#topBarRedStar {
    padding: 4px 5px 0 30px;
    background: url("$images/topBarRedStar.png") left no-repeat;
}


header#topPage aside#topBarInfo ul li span {
    font-family: "Junegull-Regular", Trebuchet MS, Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    color: #e3fc9b;
    -webkit-text-stroke: 1px #61880f;
    background: linear-gradient(to bottom, #fff 0%, #e3fc9b 45%, #94ca19 46%, #cdf564 100%);
    background-color: #e3fc9b;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}


/* CONTAINER AND RIGHT SIDE BOXES */

#container {
    width: 1010px;
    margin: 30px auto;
    display: flex;
    justify-content: flex-start;
}

#bodySection {
    width: 890px;
    margin: 0 60px;
    background: url("$images/bgContainerTopBlue.jpg") top left no-repeat, url("$images/bgContainerTopRepeat.jpg") top repeat-x;
    background-color: #eaf8fb;
    border: 3px solid #5caab7;
    box-shadow: 0 0 0 2px #ffffff, 0 0 30px 1px rgba(0, 0, 0, 0.5);
}

#bodySection .withRightAside {
    padding: 0 150px 0 0;
}

.inColumns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.inColumns .twoCols {
    width: 46%;
    margin: 0 2% 0 2%;
}

.halfWidth {
    width: 50%;
}

.fullWidth {
    width: 100%;
}

#containerSide {
    width: 200px;
    margin: 0 0 30px -200px;
    font-size: 0.75em;
}

#containerSide h2 {
    width: 100%;
    height: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 1.15em;
    text-transform: none;
}

#containerSide ul {
    margin: 5px;
    list-style-type: none;
    padding: 0;
}

#containerSide .sideBoxGreen, #containerSide .sideBoxBlue, #containerSide .sideBoxPink {
    margin: 30px 0 0 0;
    box-shadow: 10px 10px 10px rgba(90, 170, 182, 0.25);
}

#containerSide .sideBoxGreen {
    background: url("$images/bgContainerTopGreen.jpg") -205px 13px no-repeat;
    background-color: #f3ffd7;
    border: 3px solid #89bc24;
}

#containerSide .sideBoxGreen h2 {
    background: url("$images/bgTitleGreen.jpg") -15px -5px no-repeat;
    color: #6fa20a;
    border-bottom: 3px solid #89bc24;
}

#containerSide ul#menuSide {
    font-size: 1.5em;
}

#containerSide ul#menuSide li a {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 0 0 0 25px;
    text-decoration: none;
}

#containerSide ul#menuSide li a:hover {
    padding: 0 0 0 27px;
}

#containerSide ul#menuSide li.news a {
    background: url("$images/menuIconNews.gif") 0px 2px no-repeat;
}

#containerSide ul#menuSide li.scores a {
    background: url("$images/menuIconScores.gif") -2px 3px no-repeat;
}

#containerSide ul#menuSide li.account a {
    background: url("$images/menuIconAccount.gif") 0px 3px no-repeat;
}

#containerSide ul#menuSide li.help a {
    background: url("$images/menuIconHelp.gif") -3px 0px no-repeat;
}

#containerSide .sideBoxBlue {
    background: url("$images/bgContainerTopBlue.jpg") -205px 13px no-repeat;
    background-color: #eaf8fa;
    border: 3px solid #5babbb;
}

#containerSide .sideBoxBlue h2 {
    background: url("$images/bgTitleBlue.jpg") -15px -5px no-repeat;
    color: #0687b1;
    border-bottom: 3px solid #5babbb;
}

#containerSide .sideBoxPink {
    background: url("$images/bgContainerTopPink.jpg") -205px 13px no-repeat;
    background-color: #ffecf2;
    border: 3px solid #ff6b9c;
}

#containerSide .sideBoxPink h2 {
    background: url("$images/bgTitlePink.jpg") -15px -5px no-repeat;
    color: #ff6b9c;
    border-bottom: 3px solid #ff6b9c;
}


/* HOME PAGE */

.inColumns .homeLeftColumn {
    width: 488px;
    height: 475px;
    background: url("$images/bgIntroHomePage.png") no-repeat;
    margin: 0;
}

.inColumns .homeRightColumn {
    width: 360px;
    margin: 0 16px;
}

p.btnHomepagePlay {
    width: 362px;
    height: 52px;
    background: url("$images/btnHomepagePlay.png") no-repeat;
    margin: 40px 0 0 0;
    padding: 5px 0 0 0;
    font-family: "Junegull-Regular", Trebuchet MS, Arial, sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;
    text-align: center;
}

p.btnHomepagePlay:hover {
    background: url("$images/btnHomepagePlayHover.png") no-repeat;
    padding: 8px 0 0 0;
    text-decoration: none;
}

.btnHomepagePlay a { /* Mozilla Firefox and IE doesn't support the background-clip:text; property */
    width: 290px;
    margin: 0 10px 0 62px;
    font-weight: bold;
    color: #037601;
    text-shadow: #fffe03 0 3px 0;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) { /* For compatible browsers */
    .btnHomepagePlay a {
        background: -webkit-linear-gradient(to bottom, #22bc00 0%, #0c8e06 40%, #014400 41%, #037601 100%);
        background: linear-gradient(to bottom, #22bc00 0%, #0c8e06 40%, #014400 41%, #037601 100%);
        background-color: #037601;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: none;
        filter: drop-shadow(0 3px 0 #fffe03);
    }
}


/* GAME PAGE */

.gameInterface {
    width: 724px;
    height: 370px;
    margin: 10px auto 50px auto;
    padding: 0;
    background: url("$images/gameInterface.png") no-repeat;
    position: relative;
}

canvas#gameCanvas {
    width: 300px;
    height: 320px;
    position: absolute;
    top: 23px;
    left: 22px;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #56b7c1;
}

.gameSide {
    width: 303px;
    height: 320px;
    position: absolute;
    top: 23px;
    left: 396px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.75em;
}

.gameSide p {
    margin: 8px;
}

.gameSide hr {
    width: 200px;
    margin: 8px auto;
    border: 0;
    border-top: 1px solid #0687b1;
}

nav.gameNav ul {
    list-style: none;
    margin: 2px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

nav.gameNav ul li a {
    width: 100px;
    height: 25px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 0;
    padding: 2px 0 0 0;
    background-color: #d8e9eb;
    color: #0687b1;
    border-top: 2px solid #FFF;
    border-right: 1px solid #56b7c1;
    border-bottom: 1px solid #56b7c1;
    border-left: 1px solid #FFF;
}

nav.gameNav ul li a#gameNavRules:hover,
nav.gameNav ul li a#gameNavStars:hover,
nav.gameNav ul li a#gameNavRanking:hover {
    padding: 4px 0 0 0;
    border-top: 2px solid #56b7c1;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #56b7c1;
    text-decoration: none;
    color: #ffa400;
    background-color: #e9f3f4;
}

nav.gameNav ul li.showed a,
nav.gameNav ul li.showed a#gameNavRules:hover,
nav.gameNav ul li.showed a#gameNavStars:hover,
nav.gameNav ul li.showed a#gameNavRanking:hover {
    padding: 4px 0 0 0;
    background-color: #eee6d8;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ffa400;
    color: #ffa400;
    font-weight: bold;
}

.gameSide .hidden {
    display: none;
}

.gameRules table.gameCommands {
    width: 284px;
    margin: 8px auto;
    border: 0;
    text-align: left;
}

.gameRules table.gameCommands th, .gameRules table.gameCommands td {
    vertical-align: middle;
    text-align: center;
}

.gameRules table.gameCommands th {
    font-size: 0.9em;
}

.gameRules table.gameCommands .col1 {
    width: 80px;
}


/* FORMS */

form div {
    margin-top: 16px;
    margin-bottom: 16px;
}

form div label {
    font-weight: bold;
}

form div input, input[type=submit], input[type=button], input[type=reset] {
    width: 100%;
    min-width: 80px;
    margin: 5px 0 5px 0;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-left: 7px solid #fff;
    color: #20a8c3;
    background: url("$images/bgInput.jpg") repeat-x;
}

form div input:focus {
    color: #89bc24;
    background: url("$images/bgInputFocus.jpg") repeat-x;
}

input[type=submit], input[type=button], input[type=reset] {
    height: 32px;
    padding-left: 15px;
    color: #6fa20a;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #6fa20a;
    background: url("$images/bgFormButtonLeft.jpg") left no-repeat, url("$images/bgFormButtonFill.jpg") repeat-x;
    background-color: #e6ffbd;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    background: url("$images/bgFormButtonLeftHover.jpg") left no-repeat, url("$images/bgFormButtonFillHover.jpg") repeat-x;
}







div.confirm {
    border: 2px solid #89bc24;
    border-left: 10px solid #89bc24;
    background-color: #6fa20a;
    padding: 1px;
    margin: 5px;
    margin-bottom: 10px;
    color: #89bc24;
    font-weight: bold;
}

div.confirm div {
    border: 3px solid white;
    background-color: #f3ffd7;
    background-image: url("$images/bgGreen.png");
    background-repeat: no-repeat;
    padding: 5px;
}

div.confirm p,
div.confirm ul {
    color: #89bc24;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

div.error {
    border: 2px solid #ff6b9c;
    border-left: 10px solid #ff6b9c;
    background-color: #f40b58;
    padding: 1px;
    margin: 5px;
    margin-bottom: 10px;
}

div.error div {
    border: 3px solid white;
    background-color: #ffecf2;
    background-image: url("$images/bgPink.png");
    background-repeat: no-repeat;
    padding: 5px;
}

div.error p,
div.error ul {
    color: #ff6b9c;
    font-weight: bold;
}
